*{	
	box-sizing: border-box;
}

body{
	background-color: #57595b;
}

.big{
	background-color: red;
	/*border: 1px solid black;*/
	padding-left: 0px !important;
	padding-right: 0px !important;	
	/*margin: 1px;*/
}

.minimain{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.big:hover,.minimain:hover{
	cursor: pointer;
}

.mini{
	background-color: green;
	/*border: 1px solid black;	*/
}

#topVideos{
	margin-top: 57px;
	margin-bottom: 25px;
}

#logo{
	height: 27px;
}

.environmentVideo,.peopleVideo,.technoVideo{
	height: 220px;
	/*border: 1px solid black;*/
}

#technovid,#environmentvid,#peoplevid{
	margin-top: 25px;
}

.environmentVideo:hover,.peopleVideo:hover,.technoVideo:hover{
	cursor: pointer;
}

.categoryHeading{
	font-family: fantasy;
	color: #fff;
	text-shadow: 3px 1px 5px #000000;
}

#footer{
	height: 100px;
	background-color: #2d2e2f;
	margin-top: 20px;
}

b{
	color: #f0f0f0;
	opacity: 0.6;
	padding: 10px;
}

.thumbnail{
	width: 180px;
	height: 180px;
}

#modalBox{
	width: 520;
	height: 520px;
	border:none;
	overflow:hidden;
}

#modalBody{

}

#rightArrow,#leftArrow{
	display: none;
}

#collapsableDivTechno{
	height: 500px;
	width: 500px;
}

#modalVideo{
    	
}

#languageBox{
	width: 100px;
	height: 34px;
	padding-top: 3px;
	box-shadow: 0 0 10px #000000;
	text-shadow: 1px 1px #000000;
	background-color: red;
	border-radius: 15px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	color:white;
}

#languageBox:hover{
	cursor: pointer;
}

#languagesAvailable{
	background-color: #E8D9E1;
	display: none;
	position: fixed;
	bottom: 60px;
	right: 10px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000000;
}

#closeLanguageBox{
	z-index: 2;	
	position: absolute;
    right: -7px;
	font-size: 15px;
	color: #ffffff;
    top: -10px;
    background-color: #000000;
    padding: 0px 5px;
    border-radius: 27px;
    border: 2px solid white;    	
}

#closeLanguageBox:hover{
	cursor: pointer;
}

ul {
    list-style-type: none;
}

@media screen and (max-width:767px){	

	.environmentVideo,.peopleVideo,.technoVideo{
		height: 70px;
	}

	#modalBox{
		height: 100vw;
	}

}