*{	
	box-sizing: border-box;
}

body{
	background-color: #186b98;
}

#header{
	background-color: #0b537a;
}

.videosTopContainer{
	padding: 0px 15px;
}

#bodyContent{
	
}

#socialLink:hover,#ContactLink:hover{
	cursor: pointer;
}

#socialLink,#ContactLink{
	color:#ffffff;
}

#staartlPlay{
	z-index: 100;
	width: 100px;
	height: 100px;
	position: absolute;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;

    /*Safari*/
    -webkit-animation-name: example; 
    -webkit-animation-duration: 2s;    
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes example {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes example {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#staartlPlay:hover{
	cursor: pointer;
}

.big{
	/*background-color: red;*/
	/*background-image: url('./assets/english/afghan.jpg');*/
	background-size: auto;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.big:hover,.mini:hover{
	cursor: pointer;
}

.mini{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#topVideos{
	margin-top: 57px;
	margin-bottom: 25px;
}

#logo{
	height: 27px;
}

#demo,#demo2.#demo3{
	/*height: 250px;
	overflow-y: hidden;*/
}

.carouselHeight{
	height: 250px;
}

.environmentVideo,.peopleVideo,.technoVideo{
	height: 220px;
	/*border: 1px solid black;*/
}

#technovid,#environmentvid,#peoplevid{
	margin-top: 25px;
}

.environmentVideo:hover,.peopleVideo:hover,.technoVideo:hover{
	cursor: pointer;
}

.categoryHeading{
	font-family: Helvetica;
	color: #fff;
	/*text-shadow: 3px 1px 5px #000000;*/
	margin-top: 40px;
	margin-left: 15px;
}

#footer{
	/*height: 100px;*/
	background-color: #044061;
	margin-top: 20px;
	padding-top: 8px;
	padding-bottom: 10px;
}

b{
	color: #f0f0f0;
	opacity: 0.6;
	/*padding: 10px;*/
}

.thumbnail{
	width: 180px;
	height: 180px;
}

#modalBox{
	width: 520;
	height: 520px;
	border:none;
	overflow:hidden;
}

#modalBody{
	font-family: fantasy;
}

#rightArrow,#leftArrow{
	display: none;
}

#collapsableDivTechno{
	height: 500px;
	width: 500px;
}

#modalVideo{
    	
}

ul {
    list-style-type: none;
}

#clickedTechnoVid,#clickedPeopleVid,#clickedEnvironmentVid{
	color: #ffffff;
}

#clickedTechnoIframe,#clickedPeopleIframe,#clickedEnvironmentIframe{
	height: 500px;
	width: 500px;
}

#clickedTechnoIframeclose, #clickedPeopleIframeclose, #clickedEnvironmentIframeclose,#clickedTechnoIframecloseMobile,#clickedPeopleIframecloseMobile,#clickedEnvironmentIframecloseMobile{
	float: right;
	color: white;
    font-size: 25px;
    margin: -7px -13px;	
}

#clickedTechnoIframeclose:hover, #clickedPeopleIframeclose:hover, #clickedEnvironmentIframeclose:hover, #clickedTechnoIframecloseMobile:hover, #clickedPeopleIframecloseMobile:hover, #clickedEnvironmentIframecloseMobile:hover{
	cursor: pointer;	
}

.horizontalLine{
	border-top: 1px solid #ffffff;
}

.toggleDiv{
	margin: -15px 10px 10px 10px;
	padding: 10px;
	background-color: black;
	border-radius: 6px;
}

#clickedfieldarrow{

}

#fblogo,#linkedlogo{
	width:50px;
	height: 50px;
}

#fblogo:hover,#linkedlogo:hover{
	cursor: pointer;
}

#email{
	color: white;
}

#languageList{
	position: fixed;
	display: none;
	bottom: 50px;
	right: 5px;
}

#lang{
	background-color: #C1A807;
	position: fixed;
	bottom: 5px;
	right: 5px;
}

.prevnext{
	width: 50px;
	height: 100px;
}

.signs,.signs2,.signs3{
	display: none;
	width: 30px;
	padding-top: 75px;
}

@media screen and (max-width:767px){		

	.environmentVideo,.peopleVideo,.technoVideo{
		height: 70px;
	}

	#modalBox{
		height: 100vw;
	}

	.CarouselField{
		padding: 0px 2px !important;
	}

	#staartlPlay{
		width: 50px;
		height: 50px;
	}		

	.signs,.signs2,.signs3{
		display: none;
		width: 30px;
		padding-top: 0px;
	}	

	.carouselHeight{
		height: 110px;
	}

	.categoryHeading{
		margin-left: 0px;
	}	

}

@media screen and (min-width:1441px){	

	#bodyContent{
		max-width: 1400px;
		margin: 0px auto;
	}

	#topVideos{
		/*max-height: 600px;*/
		overflow-y: hidden;
	}	

}	